# Dependencies
client/node_modules/

# Next.js build outputs
client/.next/
client/out/

# Local env files
client/.env.local
client/.env*.local

# Logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
